body{
    margin: 0px;
}
main{
    color: #00ffff;
    margin-left: 20px;
    margin-right: 20px;
}
/* Styles the link inside the header (or vice versa) */
h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    margin: 0px;
    border: #00ffff solid 10px;
    border-color: #00ffff;
    color: #00ffff;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
a {
    text-decoration: none;  /* Removes the underline */ 
}
/* Changes style when mouse is over the header */
a:hover {
    text-decoration: underline;
    color: #00ffff;
}

/*h1 {

}*/


.navbar ul{
    list-style-type:none;/* Removes the bullet points */
    background-color: black;
    padding: 0px;
    margin: 0px;
    /* Trick to prevent the parent container <ul> from collapsing */
    overflow: hidden;/*
                        When you use float: left; on your list items (<li>), they are taken out of the
                        normal "flow" of the page. Because the parent <ul> thinks it has no content inside,
                        its height collapses to zero pixels.

                        By setting overflow: hidden; on the <ul>, you trigger a "Block Formatting Context."
                        This forces the <ul> to actually look at its floated children and expand its height
                        to wrap around them.
                    */   
    /*display: flow-root; /* The modern version of the overflow: hidden trick */
}
/* Method used to create a horizontal navigation bar */
.navbar li{
    float: left;/* By default, list items are "block-level"
                   elements, meaning they stack vertically
                   on top of each other. 
                   This property forces those items to sit
                   side-by-side on a single horizontal line
                   by "floating" them to the left edge of
                   their container.*/
}
.navbar a{
    color: #00ffff;
    text-decoration: none;/* Removes the underline */
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    text-decoration: underline;
    color: #00ffff
}

